[submodule "src/RMICore"]
	path = src/RMICore
	url = https://github.com/non-sono-bello-ma-patcho/RMICore
[submodule "RMICore"]
	path = RMICore
	url = https://github.com/non-sono-bello-ma-patcho/RMICore.git
